
<div>

<div class="forms">
    <p>code</p><input #code type="text">
    <p>Name</p><input #name type="text">

    <p>alpha2code</p><input #alpha2code type="text">
    <p>alpha3code</p><input #alpha3code type="text">
    <button (click)="add(name.value,code.value,alpha2code.value,alpha3code.value)">SUBMIT</button>

</div>
<div>
    <h1>delete</h1>
    <label>enter country code:
        <input #code type="text">
    </label>
    <button (click)="delete(code.value)">delete</button>
</div>

    <table>
  
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Alpha2Code</th>
            <th>Alpha3Code</th>
        </tr>
        <tr *ngFor="let country of countries">
            <td>{{country.name}}</td>
            <td>{{country.code}}</td>
            <td>{{country.alpha2Code}}</td>
            <td>{{country.alpha3Code}}</td>
        </tr>
    </table>

</div>


    <!-- <ul *ngFor="let country of countries">
        <li>{{country.name}}</li>
    </ul> -->