th{
   
    padding:20px 16px;
    margin:10px;
    text-align: center;
    font-size: 20px;
    /* border:1px solid black; */

    border-radius: 5%;
}

.forms
{
    padding:30px 36px;
    margin:10px;


}
td{
  
    padding:20px 16px;
    margin:10px;
    text-align: center;
    border:1px solid black;


}


table {
     text-align:center;
   width: 500px;
    margin: 0 auto;
    border-collapse: collapse;



  

  }
  
  input{
      height:30px;
      width:300px;
      margin-bottom:20px;
  }
  

  button{
    height:30px;
    width:70px;

    border:none;
    font-weight:bold;
    color:white;
    border-top-right-radius:10px;
    outline: none;
  }
.addbtn{
    background-color: rgba(4, 108, 8, 0.619);
    transition:0.2s ease-in-out;

}

.dltbtn{
    background-color: rgba(216, 9, 9, 0.986);

}

.addbtn:hover{
    background-color: rgb(0, 108, 22);



}

.dltbtn:hover{
    background-color: rgb(164, 1, 1);

}

h1{
    margin:10px 0px;
}
p{
    
    margin:10px 0px;

}