
<div>

<div class="forms">
    <h1>ADD</h1>
    <p>Code</p><input #code type="number">
    <p>Name</p><input #name type="text">

    <p>Alpha2code</p><input #alpha2code type="text">
    <p>Alpha3code</p><input #alpha3code type="text">
    <button class="addbtn" (click)="add(name.value,code.value,alpha2code.value,alpha3code.value)">Add</button>


</div>
<div class="forms">
    <h1>DELETE</h1>
    <p>Enter Country code</p>
  
        <input #id type="number">
 
    <button class="dltbtn" (click)="delete(id.value)">Delete</button>
</div>
<div class="forms">
    <h1>UPDATE</h1>
    <p>Code</p><input #ucode type="number">
    <p>Name</p><input #uname utype="text">

    <p>Alpha2code</p><input #ualpha2code type="text">
    <p>Alpha3code</p><input #ualpha3code type="text">
    <button class="addbtn" (click)="update(uname.value,ucode.value,ualpha2code.value,ualpha3code.value)">Update</button>


</div>

    <table>
  
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Alpha2Code</th>
            <th>Alpha3Code</th>
        </tr>

        <tr *ngFor="let country of countries">
            <td>{{country.name}}</td>
            <td>{{country.code}}</td>
            <td>{{country.alpha2Code}}</td>
            <td>{{country.alpha3Code}}</td>
        </tr>
    </table>

</div>


    <!-- <ul *ngFor="let country of countries">
        <li>{{country.name}}</li>
    </ul> -->